.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    list-style-type: none;
}

.category-button{
    background-color: transparent;
    border: none;
    color: navy;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    
}